<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>            <string>dev.ardurai.mara</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/mara</string>
    <string>run</string>
    <string>--config</string>
    <string>/Users/USER/Library/Application Support/mara/mara.toml</string>
  </array>
  <key>RunAtLoad</key>        <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key> <false/>
    <key>Crashed</key>        <true/>
  </dict>
  <key>StandardOutPath</key>  <string>/Users/USER/Library/Logs/mara/mara.out.log</string>
  <key>StandardErrorPath</key><string>/Users/USER/Library/Logs/mara/mara.err.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>XDG_CONFIG_HOME</key><string>/Users/USER/Library/Application Support</string>
    <key>XDG_STATE_HOME</key> <string>/Users/USER/Library/Application Support</string>
    <key>XDG_DATA_HOME</key>  <string>/Users/USER/Library/Application Support</string>
  </dict>
  <key>ProcessType</key>      <string>Background</string>
  <key>Nice</key>             <integer>5</integer>
</dict>
</plist>
